extend layout
block content
  p
    
    | Playing with Jade
  p
   | Look at me do the things with Jade and Node

block sidebar
  .widget
    h1 Widget
    p
      | Not entirely sure where this will end up on the page
    p
      | Stuff and things!
